@page
@model ErrorModel
@{
    ViewData["Title"] = "Erro";
}

<h1>Ocorreu um erro</h1>
<p>Não foi possível concluir a operação. Tenta novamente.</p>
<p><a href="/" class="btn btn-primary">Voltar ao início</a></p>
